@import "../../../assets/vars";
@import "../../../assets/mixins";

.movie-poster {
  width: 435px;

  @include respond(mobile) {
    width: 100%;
    height: 100%;
  }
}

.material-icons {
  text-align: center;
}
