//Colors
$primary-color: #161616;
$secondary-color: #f5c518;
$gray-color: #e5e5e5;
$white: #ffffff;
$dark-blue: #1b2d52;

//Fonts
$primary-font: "Roboto", sans-serif;

//Breakpoints

$breakpoint-xsmall: 767px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 2000px;
